@using Pupster.Models;
@{
  Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link href="~/css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
  <title>Pupster</title>
</head>
<body>
  <div class="showbg">
  <div class="box-show">
    <h1>About @Model.Name</h1>
    <hr>
      <img src="/@Model.Photo" alt="Dog Bio Photo">
      <br>
      <div class="dogInfo">
      <div class="dogBio">
      @Model.NeedsDescription
      </div>
      <br><br>
      <span>Age:</span> @Model.Age
      <br>
      <span>Sex:</span> @Model.Sex
      <br>
      <span>Breed:</span> @Model.Breed
      <br>
      <span>Coloring:</span> @Model.Color
      <br>
      <span>Size:</span> @Model.Size
      <br>
      <span>Activity Level:</span>

      @Model.Activity <br><br>

      <div class="dogCharacteristics">
      @if(@Model.HouseTrained)
      {<h6>✓</h6>}
      else{<h6>✗</h6>}House Trained

      @if(@Model.NeuteredSpayed)
      {<h6>✓</h6>}
      else{<h6>✗</h6>} Neutered or Spayed
      @if(@Model.Shots){<h6>✓</h6>}
      else{<h6>✗</h6>} Up to date on shots?

      @if(@Model.GoodWithDogs){<h6>✓</h6>}
      else{<h6>✗</h6>} Good with Dogs?

      @if(@Model.GoodWithKids){<h6>✓</h6>}
      else{<h6>✗</h6>}   Good with Kids?
      @if(@Model.GoodWithCats){<h6>✓</h6>}
      else{<h6>✗</h6>}  Good with Cats?

      @if(@Model.GoodAlone){<h6>✓</h6>}
      else{<h6>✗</h6>}Good alone?
      </div>
      <form action="/dogs" method="get">
      <button type="submit" name="button" class="btn btn-dark">Back to All Dogs</button>
      </form>
    </div>
  </div>

</body>
</html>
